<%= form_for(@value_for_search) do |f| %>
  <% if @value_for_search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@value_for_search.errors.count, "error") %> prohibited this value_for_search from being saved:</h2>

      <ul>
      <% @value_for_search.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product %><br>
    <%= f.text_area :product %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :keywords %><br>
    <%= f.text_area :keywords %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
