<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ФИО %><br>
    <%= f.text_field :name, size: 130 %>
  </div>
  <div class="field">
    <%= f.label :Адрес %><br>
    <%= f.text_area :address, rows: 3, cols: 132 %>
  </div>
  <div class="field">
    <%= f.label :Телефон %><br>
    <%= f.text_field :telephone, size: 130 %>
  </div>
  <br>
  <div class="button_create_order2">
    <div class="actions">
      <%= f.submit("ОФОРМИТЬ ЗАКАЗ", :class => 'button') %>
    </div>
  </div>
<% end %>

