  <div class="main_content">
    <div class="breadcrumbs">
      <a href="/">Главная</a> &gt;
      <span>ЗАКАЗЫ</span>
    </div>

    <% if @orders.empty? %>
      <div class="title_text"> В настоящий момент заказы отсутствуют!</div>
      <br>
      <div class="product_block__img">
        <a href=""><img src="/assets/смайлик-.jpg" alt=""></a>
      </div>

    <% else %>
      <h1>Список заказов:</h1>
      <% @orders.each do |order| %>
        <br>
        <strong>ФИО:</strong><%= order.name %>
        <br>
        <strong>Адрес:</strong><%= order.address %>
        <br>
        <strong>Телефон:</strong><%= order.telephone %>
        <br>

        <% for i in 0..(order.line_items.size-1) do %>
          <strong>Товар:</strong> <%= Product.find(order.line_items[i].product_id).title %>
          <strong>Количество:</strong> <%= order.line_items[i].quantity %>
          <strong>Дата:</strong> <%= order.line_items[i].updated_at.localtime("+03:00").strftime("%m.%d.%Y в %H часов %M минут(ы)") %>
          <br>
        <% end %>

        <% if current_user %>
          <% if current_user.email == admin_email%>
            <%= link_to 'Show', order %>
            <%= link_to 'Edit', edit_order_path(order) %>
            <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        <% end %>

      <% end %>
    <% end %>
</div>
