<div class="main_content">

  <div class="title_arrow title_arrow--content">Корзина</div>
  <div class="busket__c">
	  <script type="text/javascript" src="./корзина_files/cart.js"></script>
	    <table class="cart-table">
	      <thead>
	        <tr><td>Наименование</td>
	        <td>Цена</td>
	        <td>Количество</td>
	        <td>Общая цена</td>

	      </tr></thead>
	      <tbody>
			  <% @cart.line_items.each do |item| %>

		        <tr id="cart_order_line_34473390">
		          <td>
		            <a href="" class="cart-table__img"><%= image_tag item.product.image, :width => 90, :height => 90 %></a>
		            <br>
		            <a rel="nofollow" class="cart-table__name" href=""><%= item.product.title %></a>
		          </td>

		          <td>
		            <span class="cart-table__price"><%= item.product.price %></span>
		          </td>

		          <td>
					      <%= item.quantity %>
		          </td>

		          <td><span class="total-price"><%= item.total_price %></span></td>


		        </tr>

			  <% end %>
	      </tbody>

	      <thead>
	        <tr><td>Итого:</td>
	        <td></td>
	        <td><%= @cart.count_item_cart %></td>
	        <td><%= @cart.total_price %></td>

	      </tr></thead>

		</table>
  </div>
</div>
<br>

<div class="button_panel">

	<div class="button_empty_cart">
	  <%= button_to 'ОЧИСТИТЬ КОРЗИНУ', @cart, method: :delete, data: { confirm: 'Вы уверены?' }, :class => 'button' %>
	</div>

		<div class="button_create_order">
		  <%= button_to "ОФОРМИТЬ ЗАКАЗ", new_order_path, method: :get, :class => 'button' %>
		</div>
</div>
