<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>InterTron</title>
<%= stylesheet_link_tag "application", media: "all","data-turbolinks-track" => true %>
<%= javascript_include_tag "application","data-turbolinks-track" => true %>
<%= csrf_meta_tag %>

  <!-- include css -->
  <link rel="stylesheet" href="/assets/reset.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/assets/style.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/assets/fancybox.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/assets/magiczoomplus.css" type="text/css" media="screen">

</head>

<body>
  <div class="header">
    <div class="header_in">
      <div class="right">
        <div class="phone left">
        +37529 737-9-222 (МТС)
        </div>
        <!--
        <div class="currensy_form left">
          <form action="1.php" class="jClever">
            <label for="currency_select" class="currensy_form__label">Валюта:</label>
            <select name="currency:" id="currency_select" class="currensy_form__select">
              <option value="1">Euro €</option>
              <option value="2">US dollar $</option>
            </select>
            <input type="submit" class="currensy_form__submit" value="изменить">
          </form>
        </div>
		-->
      </div>
      <div class="header__login">

            Добро пожаловать, Вы можете <a href="http://demo42150.myinsales.ru/client_account/contacts/new">Создать аккаунт</a> или <a href="http://demo42150.myinsales.ru/client_account/login">Войти</a>

      </div>
    </div>
  </div>

  <div class="wrapper">
  <div class="middle">
    <div class="container">
      <div class="content">
        <div class="top_menu">
          <ul class="top_menu__list sf-js-enabled sf-arrows">

<% if @active_link_title == true %>
                <li><a href="/" title="Главная" class="active">Главная</a></li>
<% else %>
                <li><a href="/" title="Главная" class="">Главная</a></li>
<% end %>


<% if @active_link_shipping == true %>
                <li><a href="/shipping" title="Главная" class="active">Доставка</a></li>
<% else %>
                <li><a href="/shipping" title="Главная" class="">Доставка</a></li>
<% end %>


<% if @active_link_news == true %>
                <li><a href="/news" title="Доставка" class="active">Новости</a></li>
<% else %>
                <li><a href="/news" title="Доставка" class="">Новости</a></li>
<% end %>


<% if @active_link_recipes == true %>
                <li><a href="/orders" class="active">Заказы</a></li>
<% else %>
                <li><a href="/orders" class="">Заказы</a></li>
<% end %>


<% if @active_link_contacts == true %>
                <li><a href="/contacts" class="active">Контакты</a></li>
<% else %>
                <li><a href="/contacts" class="">Контакты</a></li>
<% end %>



          </ul>
        </div>
        <div class="busket_search_c">

          <!-- busket -->
          <div id="cart">
	          <div class="busket">
	  			<a href='/carts/<%= session[:cart_id] %>' class="busket__title">Корзина:</a> у Вас

            <%= if @cart
             @cart.count_item_cart
             end %>

             товаров
			  </div>
		  </div>
          <!-- busket -->

          <div class="search">
            <form action="http://demo42150.myinsales.ru/search" method="get" class="search_check">
              <input type="text" name="q" class="search_txt">
              <input class="search_submit" type="submit" value="поиск">
            </form>
          </div>

        </div>

        <div class="clear"></div>





<%= yield %>



      </div><!-- #content-->
    </div><!-- #container-->

    <div class="sideLeft">


		<img src="/assets/loaded_logo.jpg" alt="Название магазина"></a>

      <!-- left menu -->
      <ul class="left_menu">


    <li><a href="/avtoklavs" class="">АВТОКЛАВЫ</a>


    </li>

    <li><a href="http://demo42150.myinsales.ru/collection/instrumenty" class="">ИНСТРУМЕНТЫ</a>


    </li>

    <li><a href="http://demo42150.myinsales.ru/collection/zaschita" class="">ЗАЩИТА</a>


    </li>

    <li><a href="http://demo42150.myinsales.ru/collection/aksessuary" class="">АКСЕССУАРЫ</a>


    </li>

    <li><a href="http://demo42150.myinsales.ru/collection/zapchasti" class="">ЗАПЧАСТИ</a>


    </li>

    <li><a href="http://demo42150.myinsales.ru/collection/pitievye-sistemy" class="">ПИТЬЕВЫЕ СИСТЕМЫ</a>


    </li>


</ul>
      <!-- /left menu -->



      <!-- login block -->

<div class="title_arrow">
Новинки продаж
</div>
<!-- / title arrow -->
<!-- left product -->



<div class="product_block">

  <div class="product_block__img">
    <a href=""><img src="/assets/avtoklav_title.jpg" alt=""></a>
  </div>


</div>



    </div><!-- #sideLeft -->

  </div><!-- #middle-->


  <div class="footer">
    <div class="footer_menu">

      <ul class="footer_menu__list">
        <li><a href="http://demo42150.myinsales.ru/#">Онлайн магазин</a></li>

          <li><a href="http://demo42150.myinsales.ru/page/feedback" title="Обратная связь" class="">Обратная связь</a></li>

      </ul>
    </div>
    <p class="copyright">Copyright © 2015 Название магазина</p>
  </div><!-- #footer -->

</div><!-- #wrapper -->


</body>



</html>
