<!DOCTYPE html>
<html>
  <head>
    <title><%= set_title_for_search %> </title>

    <link rel="shortcut icon" href="/assets/ICO.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/style.css" type="text/css" media="screen, projection">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name='yandex-verification' content='65ee5e2e0f9917c3' />
    <meta name="google-site-verification" content="9SoZ4UGqHpVGsJ86WunwkBfhtKVm02WyWc0gCrskRzs" />
    <meta name="description" content= "<%= set_description_for_search %>" />
    <meta name="keywords" content= "<%= set_keywords_for_search %>" />

    <%= stylesheet_link_tag "application", media: "all","data-turbolinks-track" => true %>
    <%= javascript_include_tag "application","data-turbolinks-track" => true %>
    <%= csrf_meta_tag %>

  </head>

  <body>
    <div class="header">
      <div class="header_in">
        <div class="right">
          <div class="phone_left">
            <div class="phone left">
              Наши телефоны: +37529 737-9-222 (МТС) или +37529 331-91-56 (VELCOM)
            </div>
          </div>
          <!--
          <div class="currensy_form left">
            <form action="1.php" class="jClever">
              <label for="currency_select" class="currensy_form__label">Валюта:</label>
              <select name="currency:" id="currency_select" class="currensy_form__select">
                <option value="1">Euro €</option>
                <option value="2">US dollar $</option>
              </select>
              <input type="submit" class="currensy_form__submit" value="изменить">
            </form>
          </div>
      -->
        </div>
        <div class="header__login">
          <% if user_signed_in? %>
              <span>Здравствуйте, <%= current_user.email %></span>
              <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
          <% else %>
              <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="wrapper">
      <div class="middle">
        <div class="container">
          <div class="content">
            <div class="top_menu">
              <ul class="top_menu__list sf-js-enabled sf-arrows">

                <% if @active_link_title == true %>
                  <li><a href="/" title="Главная" class="active">Главная</a></li>
                <% else %>
                  <li><a href="/" title="Главная" >Главная</a></li>
                <% end %>

                <% if @active_link_shipping == true %>
                  <li><a href="/shipping" title="Главная" class="active">Доставка</a></li>
                <% else %>
                  <li><a href="/shipping" title="Главная" >Доставка</a></li>
                <% end %>

                <% if @active_link_news == true %>
                  <li><a href="/news" title="Доставка" class="active">Новости</a></li>
                <% else %>
                  <li><a href="/news" title="Доставка" >Новости</a></li>
                <% end %>

                <% if @active_link_orders == true %>
                  <li><a href="/orders" class="active">Заказы</a></li>
                <% else %>
                  <li><a href="/orders" >Заказы</a></li>
                <% end %>

                <% if @active_link_contacts == true %>
                  <li><a href="/contacts" class="active">Контакты</a></li>
                <% else %>
                  <li><a href="/contacts" >Контакты</a></li>
                <% end %>
              </ul>
            </div>
            <div class="busket_search_c">
              <div id="cart">
                <div class="busket_image">
                  <a href="/carts/<%= session[:cart_id] %>"><img src="/assets/корзина.jpg" width="70" height="70" alt=""></a>
                </div>
                <div class="busket">
                  <div class="busket_text">
                    <a href='/carts/<%= session[:cart_id] %>' class="busket__title">Корзина:</a> <br> у Вас <% if @cart %>
                    <%= @cart.count_item_cart %>
                    <% end %> товаров
                  </div>
                </div>
              </div>
            </div>
            <div class="clear"></div>

            <%= yield %>

          </div>
        </div>
        <div class="sideLeft">
          <img src="/assets/loaded_logo.jpg" alt="Название магазина">
            <ul class="left_menu">

              <% if current_user %>
                <% if current_user.email == admin_email %>
                  <li><a href="/value_for_searches">ПРОДВИЖЕНИЕ</a></li>
                <% end %>
              <% end %>

              <% Product.get_massive_title_product.each do |product| %>
                <li><%= link_to product, products_path(types: product) %></li>
              <% end %>
            </ul>
          <div class="title_arrow">Новинки продаж</div>
            <div class="product_block">
              <div class="product_block__img">
                <a href="/title"><img src="/assets/avtoklav_title.jpg" alt=""></a>
              </div>
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="footer_menu">
            <ul class="footer_menu__list">
              <li><a href="">Интеренет магазин</a></li>
              <li><a href="" class="">Обратная связь</a></li>
            </ul>
          </div>
          <p class="copyright">
          <ul class="footer_menu__list">
          Сайт изготовлен на Ruby on rails, 2015 г.
          <a href="http://patron.herokuapp.com/">Патреевым И.И.</a>
          Телефоны: +37529 7379222 (МТС) или +37529 3319156 (VELCOM)</p>
        </div>
      </div>
    </div>
  </body>
</html>
